/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size:150%;
}

#home{
	background-image: url("../imgs/elliott-engelmann-DjlKxYFJlTc-unsplash.jpg");
	/* background-color:powderblue; */
	/* background-color:rgb(85, 162, 172); */
}

#about{
	background-color:rgb(169, 228, 169);
}
#pastproject{
	background-color:rgb(228, 176, 228);
}
#social{
	background-color: rgb(241, 147, 147);
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em; 
	font-weight: bold;
}



/*Style the images*/
img{
  width: auto ;
  max-width: 100% ;
  height: auto ;
	/* position: relative; */
	/* top: -60px; */
    /* border: 3px solid blue; */
    /* padding: 25px;
    border-radius: 30px;
    margin: 30px; */
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto; 
	width: 15%;
	height: 15%;
}

/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4, 5vw); */
    grid-gap: 10px;
}
a{
	color: #3B3B3B;;
}

.currentIndex{
	background-color: white;
	text-decoration: underline;
}
.currentPersonal{
	background-color:white;
	text-decoration: underline;
}

.currentRandom{
	background-color: white;
	text-decoration: underline;
}

.currentSocial{
	background-color: white;
	text-decoration: underline;
}

/* .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
	font-family: 'Courier New', Courier, monospace;
	font-size: medium;
	color: #3B3B3B;
	padding: 70px 0;
	text-align: center;
    padding: 10px;
}

#hiMessage{
	font-size: 40px;
}

/* #personalMessage{
	font-size: medium;
} */

#BoggleTitle{
	font-size: 30px;
	font-weight: bold;
}





/*Add borders around the main components and some
space too*/
header, h1, footer{
	/* border: 2px solid grey; */
	margin: 10px 0;
}


nav{
	color: #3B3B3B;
}

.nav_links{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	text-align: center;
}

nav a{
	color: #3B3B3B;;
	font-weight: bold;
	text-decoration: dashed;

  }

  
  
  p {
	font-size:12px;
	color:#999;
	margin-top:200px;
  }

  
/* 
  nav li{
	display:inline;
	padding-right:20px;
  
  }
  
  
  nav{
	background-color: #ddd;
	padding: 25px 0; 
	text-align: left;
  } */

a:hover{
	text-decoration: underline;
}


main{
	margin: 210px 0;
	text-align: center;
}

.gallery_item {
  width: auto;
  height: 20px;
}

/*Change the styling for all of the list 
items in the nav section*/
nav li{
	color:  #3B3B3B;;
	/* padding:10px; */
	margin-left: 50px;
	/* width:25%; */
	/* border:1px solid black; */
	display: inline-block;
	/* /* width: 20%; */
}


 /* @media screen and (min-width: 850px){ */

  /*Requirement 10*/
  /* header{ */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /*Your code here again.*/  
  /* } */

  /*Requirement 10*/
  /* .nav_links{ */
    /* display:flex; */
    /* flex-direction: row; */
    /*Your code here again.*/  
  /* } */

  /*Requirement 11*/
  /* .package { */
    /*Your code here again.*/
    /* flex-basis: 230px; */
  /* }  */
/* }  */


@media screen and (min-width: 850px){
	nav{
		display: flex;
		flex-direction: row;
		justify-content:left;
	}

}

/* put in citation here*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.sign{
  text-align:center;
  /* background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%); */
  color:white;
  font-weight:bolder;  
  font-family:'Roboto';
  font-size:35px;
  /* padding-top:40vh;
  height:100vh; */
  /* overflow:hidden; */
  /* -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0); */
}

div {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

div:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  /* animation: showup 7s 1; */
  animation-duration: 7s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;


  font-weight:bolder;
}

div:last-of-type {
  width:0px;
  animation: reveal 7s 1;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;



  font-weight:bolder;
}

div:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s 1;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;



  font-weight:bolder;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}


p {
  font-size:12px;
  color:#999;
  margin-top:200px;
}


.column {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 100px;
	/* width: 33.33%; */
  }
  
  /* Clear floats after the columns */
  /* .row:after {
	content: "";
	display: table;
	clear: both;
  } */

/*Added this so the links stay the same color*/
/* a:visited{color:white} */


